<center><h1>Index Action for Articles</h1></center>
<center><h3>Default for Articles</h3></center>

<center><img src = "https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?201609301718"></center>